In [1]:
!pip install git+https://github.com/Deep-Stonks-Group/PythonDataProcessing.git

Collecting git+https://github.com/Deep-Stonks-Group/PythonDataProcessing.git
  Cloning https://github.com/Deep-Stonks-Group/PythonDataProcessing.git to /private/var/folders/w_/flq9nqsd1ts71jd5b8p_1tnh0000gn/T/pip-req-build-m2u_x0pu
Collecting numpy==1.19.4
  Using cached numpy-1.19.4-cp38-cp38-macosx_10_9_x86_64.whl (15.3 MB)
Collecting Historic-Crypto==0.1.4
  Using cached Historic_Crypto-0.1.4-py3-none-any.whl (8.8 kB)
Requirement already satisfied: yfinance==0.1.59 in /opt/anaconda3/lib/python3.8/site-packages (from PythonDataProcessing==0.0.0) (0.1.59)
Requirement already satisfied: TA-Lib==0.4.20 in /opt/anaconda3/lib/python3.8/site-packages (from PythonDataProcessing==0.0.0) (0.4.20)
Processing /Users/calebheinzman/Library/Caches/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897/sklearn-0.0-py2.py3-none-any.whl
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (from Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (1.1.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (2.24.0)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (4.50.2)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance==0.1.59->PythonDataProcessing==0.0.0) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance==0.1.59->PythonDataProcessing==0.0.0) (4.6.1)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.8/site-packages (from sklearn==0.0->PythonDataProcessing==0.0.0) (0.23.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (1.25.11)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn==0.0->PythonDataProcessing==0.0.0) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn==0.0->PythonDataProcessing==0.0.0) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn==0.0->PythonDataProcessing==0.0.0) (1.5.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->Historic-Crypto==0.1.4->PythonDataProcessing==0.0.0) (1.15.0)
Building wheels for collected packages: PythonDataProcessing
  Building wheel for PythonDataProcessing (setup.py) ... done
  Created wheel for PythonDataProcessing: filename=PythonDataProcessing-0.0.0-py3-none-any.whl size=3676 sha256=6fa3c950960706064529e4e2da0d7192564e09e1ae38d1b67f051bc3d046d23c
  Stored in directory: /private/var/folders/w_/flq9nqsd1ts71jd5b8p_1tnh0000gn/T/pip-ephem-wheel-cache-ft86brdm/wheels/7a/68/e5/3cb47455c9bafc22dc9fd955c484ce6d7a9907f0a7c8a63b0e
Successfully built PythonDataProcessing
Installing collected packages: numpy, Historic-Crypto, sklearn, PythonDataProcessing
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.2
    Uninstalling numpy-1.19.2:
      Successfully uninstalled numpy-1.19.2
Successfully installed Historic-Crypto-0.1.4 PythonDataProcessing-0.0.0 numpy-1.19.4 sklearn-0.0

In [29]:
from PythonDataProcessing import DataRetrieval as DR

In [30]:
data = DR.get_stock_data('AAPL',interval='1d',period='2y')

In [31]:
display(data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-07-01,49.857516,50.181443,49.239112,49.459972,109012000,0.0,0.0
2019-07-02,49.425623,49.847708,49.413352,49.749546,67740800,0.0,0.0
2019-07-03,49.884518,50.169181,49.739734,50.161819,45448000,0.0,0.0
2019-07-05,49.901694,50.326231,49.791262,50.117641,69062000,0.0,0.0
2019-07-08,49.278377,49.423161,48.689424,49.084515,101354400,0.0,0.0
...,...,...,...,...,...,...,...
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.0,0.0
2021-06-25,133.460007,133.889999,132.809998,133.110001,70730700,0.0,0.0
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.0,0.0
2021-06-29,134.800003,136.490005,134.350006,136.330002,64429000,0.0,0.0
2021-06-30,136.169998,137.399994,135.869995,136.960007,62906278,0.0,0.0

In [32]:
data = DR.add_EMA(data)
data = DR.add_SMA(data)
display(data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EMA,SMA
Date,,,,,,,,,
2019-09-23,53.934047,54.153281,53.613816,53.877392,76662000,0.0,0.0,52.621911,52.232972
2019-09-24,54.446413,54.806057,53.500505,53.621204,124763200,0.0,0.0,52.686382,52.374201
2019-09-25,53.835520,54.562194,53.488193,54.446419,87613600,0.0,0.0,52.799932,52.473226
2019-09-26,54.192700,54.424251,53.904494,54.165604,75334000,0.0,0.0,52.888040,52.613963
2019-09-27,54.325716,54.429178,53.522680,53.902031,101408000,0.0,0.0,52.953459,52.754208
...,...,...,...,...,...,...,...,...,...
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.0,0.0,129.105109,127.653999
2021-06-25,133.460007,133.889999,132.809998,133.110001,70730700,0.0,0.0,129.363489,127.925332
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.0,0.0,129.712941,128.169666
2021-06-29,134.800003,136.490005,134.350006,136.330002,64429000,0.0,0.0,130.139848,128.504999
2021-06-30,136.169998,137.399994,135.869995,136.960007,62906278,0.0,0.0,130.579859,128.908666

In [33]:
data["SMA"] = data["SMA"].shift(periods=1)
display(data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EMA,SMA
Date,,,,,,,,,
2019-09-23,53.934047,54.153281,53.613816,53.877392,76662000,0.0,0.0,52.621911,NaN
2019-09-24,54.446413,54.806057,53.500505,53.621204,124763200,0.0,0.0,52.686382,52.232972
2019-09-25,53.835520,54.562194,53.488193,54.446419,87613600,0.0,0.0,52.799932,52.374201
2019-09-26,54.192700,54.424251,53.904494,54.165604,75334000,0.0,0.0,52.888040,52.473226
2019-09-27,54.325716,54.429178,53.522680,53.902031,101408000,0.0,0.0,52.953459,52.613963
...,...,...,...,...,...,...,...,...,...
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.0,0.0,129.105109,127.299332
2021-06-25,133.460007,133.889999,132.809998,133.110001,70730700,0.0,0.0,129.363489,127.653999
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.0,0.0,129.712941,127.925332
2021-06-29,134.800003,136.490005,134.350006,136.330002,64429000,0.0,0.0,130.139848,128.169666
2021-06-30,136.169998,137.399994,135.869995,136.960007,62906278,0.0,0.0,130.579859,128.504999

In [34]:
data =  data.iloc[1:, :]
display(data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EMA,SMA
Date,,,,,,,,,
2019-09-24,54.446413,54.806057,53.500505,53.621204,124763200,0.0,0.0,52.686382,52.232972
2019-09-25,53.835520,54.562194,53.488193,54.446419,87613600,0.0,0.0,52.799932,52.374201
2019-09-26,54.192700,54.424251,53.904494,54.165604,75334000,0.0,0.0,52.888040,52.473226
2019-09-27,54.325716,54.429178,53.522680,53.902031,101408000,0.0,0.0,52.953459,52.613963
2019-09-30,54.414391,55.320889,54.387295,55.170628,103909600,0.0,0.0,53.096502,52.754208
...,...,...,...,...,...,...,...,...,...
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.0,0.0,129.105109,127.299332
2021-06-25,133.460007,133.889999,132.809998,133.110001,70730700,0.0,0.0,129.363489,127.653999
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.0,0.0,129.712941,127.925332
2021-06-29,134.800003,136.490005,134.350006,136.330002,64429000,0.0,0.0,130.139848,128.169666
2021-06-30,136.169998,137.399994,135.869995,136.960007,62906278,0.0,0.0,130.579859,128.504999

In [107]:
labels = data["SMA"].values
labels = [(labels[i]-labels[i-1]) for i in range(1,len(labels))]
labels = [1 if i > 0 else 0 for i in labels]
labels = [99]+ labels
data["labels"] = labels
display(data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EMA,SMA,labels
Date,,,,,,,,,,
2019-09-24,54.446413,54.806057,53.500505,53.621204,124763200,0.0,0.0,52.686382,52.232972,99
2019-09-25,53.835520,54.562194,53.488193,54.446419,87613600,0.0,0.0,52.799932,52.374201,1
2019-09-26,54.192700,54.424251,53.904494,54.165604,75334000,0.0,0.0,52.888040,52.473226,1
2019-09-27,54.325716,54.429178,53.522680,53.902031,101408000,0.0,0.0,52.953459,52.613963,1
2019-09-30,54.414391,55.320889,54.387295,55.170628,103909600,0.0,0.0,53.096502,52.754208,1
...,...,...,...,...,...,...,...,...,...,...
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.0,0.0,129.105109,127.299332,1
2021-06-25,133.460007,133.889999,132.809998,133.110001,70730700,0.0,0.0,129.363489,127.653999,1
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.0,0.0,129.712941,127.925332,1
2021-06-29,134.800003,136.490005,134.350006,136.330002,64429000,0.0,0.0,130.139848,128.169666,1
2021-06-30,136.169998,137.399994,135.869995,136.960007,62906278,0.0,0.0,130.579859,128.504999,1

In [116]:
data = data.iloc[2:, :]
display(data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EMA,SMA,labels
Date,,,,,,,,,,
2019-09-26,54.192700,54.424251,53.904494,54.165604,75334000,0.0,0.0,52.888040,52.473226,1
2019-09-27,54.325716,54.429178,53.522680,53.902031,101408000,0.0,0.0,52.953459,52.613963,1
2019-09-30,54.414391,55.320889,54.387295,55.170628,103909600,0.0,0.0,53.096502,52.754208,1
2019-10-01,55.441594,56.217534,55.227284,55.323353,139223200,0.0,0.0,53.240170,52.897654,1
2019-10-02,54.946464,55.074557,53.682788,53.936512,138449200,0.0,0.0,53.285095,53.014579,1
...,...,...,...,...,...,...,...,...,...,...
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.0,0.0,129.105109,127.299332,1
2021-06-25,133.460007,133.889999,132.809998,133.110001,70730700,0.0,0.0,129.363489,127.653999,1
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.0,0.0,129.712941,127.925332,1
2021-06-29,134.800003,136.490005,134.350006,136.330002,64429000,0.0,0.0,130.139848,128.169666,1
2021-06-30,136.169998,137.399994,135.869995,136.960007,62906278,0.0,0.0,130.579859,128.504999,1

In [117]:
train_size = int(len(data) *0.8)
input_vals = ["High","Low","Close","Volume","EMA"]
label_vals = ["labels"]
print(train_size)

355

In [118]:
from pandas.core.frame import DataFrame
from sklearn.preprocessing import MinMaxScaler

def fit_scalers(data_source: DataFrame, train_size, input_vals, label_vals):
    data_scaler = MinMaxScaler()
    labl_scaler = MinMaxScaler()

    data_scaler.fit(data_source[input_vals].iloc[:train_size])
    labl_scaler.fit(data_source[label_vals].iloc[:train_size])

    return data_scaler, labl_scaler

def normalize_stock_data(data_source, data_scaler, labl_scaler, input_vals, label_vals):
    scaled_data = data_scaler.transform(data_source[input_vals])
    scaled_lbls = labl_scaler.transform(data_source[label_vals])
    return scaled_data, scaled_lbls

In [171]:
data_scaler, label_scaler = fit_scalers(data,train_size,input_vals,label_vals)
scaled_data, scaled_labels = normalize_stock_data(data, data_scaler, label_scaler, input_vals, label_vals)
display(scaled_data)

array([[0.00000000e+00, 1.41649196e-02, 2.96809481e-03, 7.55908778e-02,
        0.00000000e+00],
       [5.46163421e-05, 9.83917411e-03, 0.00000000e+00, 1.44226102e-01,
        8.12151746e-04],
       [9.94015669e-03, 1.96347917e-02, 1.42856799e-02, 1.50811124e-01,
        2.58798402e-03],
       ...,
       [8.96036816e-01, 9.14239443e-01, 9.10767628e-01, 4.07844432e-02,
        9.53755255e-01],
       [9.09783556e-01, 9.25568901e-01, 9.28222228e-01, 4.68853812e-02,
        9.59055164e-01],
       [9.19871717e-01, 9.42789551e-01, 9.35316720e-01, 4.28770831e-02,
        9.64517742e-01]])

In [162]:
import numpy as np
x = np.array(scaled_data)
y = np.ravel(scaled_labels)

train_x = x[:train_size]
train_y = y[:train_size]
test_x = x[train_size:]
test_y = y[train_size:]

print(len(train_x))
print(len(train_y))
print(len(test_x))
print(len(test_y))

355
355
89
89

In [167]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(train_x,train_y)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(8, 8, 8), max_iter=500)

In [168]:
pred_y = mlp.predict(train_x)

In [169]:
from PythonDataProcessing import Metrics as MET
rndm_acc, acc = MET.get_acc(train_y,pred_y)
print(rndm_acc)
print(acc)
len(test_y)

0.7943661971830986
0.8788732394366198

89